* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight:bold;
  color:white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {font-size: 14px;}
a {color: white;}

.flatiron {
  color: white;
  background-image: url("../images/flatiron.jpg");
  background-position: 25% 45%;
}
.copyright {
  text-align: left;
  color: white;
  background-color: dimgray;
}
.ctext {font-size: 11px}
